.box{
    background-color: white;
    border: none;
    border-radius: 10%;
    box-shadow: 0px 0px 8px #888;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 5em;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    line-height: 5rem;
    margin: 0.5rem auto;
}

.x {
    color: rgb(204, 66, 32);
}

.o {
    color: rgb(30, 105, 167);
}

.box:hover{
    box-shadow: 0px 0px 20px #888;
}